.modal {
  width: 300px;
  height: 300px;
  border: 1px solid green;
  background-color: #ffbf00;
  border-radius: 20px;
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(154, 62, 62, 0.8);
}
